
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: goldenrod;
  color: #fff;
  padding: 20px;
  z-index: 9999; /* This ensures the header is displayed on top of other elements */
}

.nav {
  
  display: flex;
  justify-content: space-between;
}

.nav h1 {
  color: blueviolet;
  margin: 0;
  font-size: 40px;
}
.nav .nav-search {
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}

.nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
    border-right: none;
}

.nav .nav-search button{
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
}

.nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav ul li{
    padding-left: 15px;
    padding-top: 15px;
}

.nav ul a {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}

h1 a{
  color: blueviolet;
  text-decoration: none;
}

.suggested-result{
  /* position: absolute; */
  top: 40px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 300px;
  margin-top: 30%;


  min-width: 572px;
  top: 52px;
  position: fixed;
  text-align: left;
  left: 412px;
  display: none;

  
 
}
.suggested-result li {
  padding:5px;
  border: 1px solid #ddd;
  
}
.suggested-result li a{
  cursor: pointer;
  color: blueviolet;
}