<div class="Update-product">
    <h1>Update Product</h1>
    <p style="color: green;">{{productMessage}}</p>
    <form class="common-form" #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" >
      <input
        type="text"
        class="form-input"
        placeholder="Enter product name"
        name="name"
        ngModel="{{productData?.name}}"
      />
  
      <input
        type="text"
        class="form-input"
        placeholder="Enter product price"
        name="price"
        ngModel="{{productData?.price}}"
      />
  
      <input
        type="text"
        class="form-input"
        placeholder="Enter product color"
        name="color"
        ngModel="{{productData?.color}}"
      />
  
      <input
        type="text"
        class="form-input"
        placeholder="Enter product category"
        name="category"
        ngModel="{{productData?.category}}"
      />
  
      <input
        type="text"
        class="form-input"
        placeholder="Enter product Image URL"
        name="URL"
        ngModel="{{productData?.URL}}"
      />
  
      <textarea
        type="text"
        class="form-input"
        placeholder="Enter product description"
        name="description"
        ngModel="{{productData?.description}}"
      ></textarea>
  
      <button class="form-button">Update Product</button>
    </form>
  </div>
  
